/* 固定navbar */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1050;
}
/* navbar高度 */
.nav-padding {
    padding-top: 56px;
}
/* 改變側邊欄顏色 */
.sb-sidenav-light {
    background-color: #e6e6e6;
}
/* 表格垂直置中 */
td, th {
    vertical-align: middle !important;
}
/* 表格padding 80% rem */
.table-padding-80 td, .table-padding-80 th {
    padding: 0.8rem !important;
}
/* card框線 */
.card {
    border: 1px solid rgba(0, 0, 0, 0.25);
}
/* 游標 */
.cursor-pointer {
    cursor: pointer;
}
/* 最小尺寸350px */
.img-min-width {
    min-width: 350px;
}
